In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../datos/datos_crudos/datos_moodle.csv")

In [6]:
df.head()

,codigo_estudiante,edad,sexo,periodo_academico,nota_primer_parcial,nota_segundo_parcial,nota_tercer_parcial,promedio_previo,total_accesos_lms,tiempo_total_conexion_min,tareas_entregadas,tareas_totales,participaciones_foro,asistencias,clases_totales,retroalimentaciones_docente,nota_final
0,20248998,21,M,2025-II,7,17,20,7.5,81,623,7,10,6,29,30,17,15
1,20248134,19,M,2025-II,5,18,15,10.9,273,1999,8,10,9,18,30,15,13
2,20254712,20,F,2025-II,12,13,16,7.7,177,1247,10,10,8,21,30,12,14
3,20257253,17,M,2025-II,14,11,15,14.2,380,2611,7,10,7,25,30,20,13
4,20256938,20,M,2025-II,19,19,16,15.2,135,761,9,10,12,25,30,11,18

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471 entries, 0 to 470
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   codigo_estudiante            471 non-null    int64
 1   edad                         471 non-null    int64
 2   sexo                         471 non-null    object
 3   periodo_academico            471 non-null    object
 4   nota_primer_parcial          471 non-null    int64
 5   nota_segundo_parcial         471 non-null    int64
 6   nota_tercer_parcial          471 non-null    int64
 7   promedio_previo              471 non-null    float64
 8   total_accesos_lms            471 non-null    int64
 9   tiempo_total_conexion_min    471 non-null    int64
 10  tareas_entregadas            471 non-null    int64
 11  tareas_totales               471 non-null    int64
 12  participaciones_foro         471 non-null    int64
 13  asistencias                  471 non-null    int64
 14  clases_totales               471 non-null    int64
 15  retroalimentaciones_docente  471 non-null    int64
 16  nota_final                   471 non-null    int64
dtypes: float64(1), int64(14), object(2)
memory usage: 62.7+ KB

In [8]:
df.describe()

,codigo_estudiante,edad,nota_primer_parcial,nota_segundo_parcial,nota_tercer_parcial,promedio_previo,total_accesos_lms,tiempo_total_conexion_min,tareas_entregadas,tareas_totales,participaciones_foro,asistencias,clases_totales,retroalimentaciones_docente,nota_final
count,4.710000e+02,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.0,471.000000,471.000000,471.0,471.000000,471.000000
mean,2.025096e+07,19.048832,12.405520,12.360934,16.008493,12.867728,221.932059,2265.021231,8.422505,10.0,7.885350,24.165605,30.0,12.915074,13.594480
std,5.687779e+03,1.412616,4.641979,4.793755,2.618253,4.611962,104.937954,996.568587,1.107923,0.0,2.578062,3.749917,0.0,4.468948,2.413414
min,2.024111e+07,17.000000,5.000000,5.000000,12.000000,5.000000,40.000000,602.000000,7.000000,10.0,4.000000,18.000000,30.0,5.000000,7.000000
25%,2.024610e+07,18.000000,8.000000,8.000000,14.000000,8.850000,127.500000,1404.500000,7.000000,10.0,6.000000,21.000000,30.0,9.000000,12.000000
50%,2.025155e+07,19.000000,12.000000,13.000000,16.000000,12.800000,228.000000,2245.000000,8.000000,10.0,8.000000,24.000000,30.0,13.000000,14.000000
75%,2.025635e+07,20.000000,16.000000,17.000000,18.000000,16.900000,311.000000,3114.500000,9.000000,10.0,10.000000,27.000000,30.0,17.000000,15.000000
max,2.025999e+07,21.000000,20.000000,20.000000,20.000000,20.900000,400.000000,4000.000000,10.000000,10.0,12.000000,30.000000,30.0,20.000000,20.000000